.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 30px 30px 30px 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 50px;
      width: auto;
    }

    .nav-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      gap: 15px;

      .top {
        display: flex;
        justify-content: end;
        width: 100%;

        span {
          font-size: 1rem;
          color: #0c0950;
        }
      }
      .bot {
        display: flex;
        align-items: center;
        gap: 45px;

        .list-icon {
          list-style: none;
          text-decoration: none;

          .nav-icon {
            cursor: pointer;
            color: #0a4b5e;
            font-size: 1.25rem;
          }
        }

        .btn-signin {
          background-color: #161179;
          border: none;
          color: #fff;
          font-size: 0.875rem;
          font-weight: 500;
          height: 38px;
          padding: 0 15px;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: #0c0950;
          }
        }
      }
    }

    .menu-icon {
      display: none;
    }
  }

  .dropdown-client {
    position: absolute;
    top: 80px;
    right: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 3px;
    background-color: #fff;

    .container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: start;

      span {
        color: #0c0950;
        font-size: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        .icon {
          margin-right: 5px;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
    &.scrolled {
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    .nav-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        height: 40px;
        width: auto;
      }

      .nav-buttons {
        display: none;
        align-items: center;
        justify-content: end;
        gap: 45px;

        .list-icon {
          list-style: none;
          text-decoration: none;

          .nav-icon {
            cursor: pointer;
            color: #0a4b5e;
            font-size: 1.25rem;
          }
        }

        .btn-signin {
          background-color: #0a4b5e;
          border: none;
          color: #fff;
          font-size: 0.875rem;
          font-weight: 500;
          height: 38px;
          padding: 0 15px;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: #083f50;
          }
        }
      }

      .menu-icon {
        display: flex;
        font-size: 30px;
        cursor: pointer;
        color: #fff;

        &.home_ {
          color: #0a4b5e;
        }
      }
    }
  }
}
