.emptydata {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .icon {
    font-size: 25px;
    color: gray;
  }

  p {
    color: rgb(136, 132, 132);
  }
}
